$color__background-body: #fff;
$color__background-button: #dcc423;
$theme__colorbackground: #dcc423;

$color__black-light: #999999;
$color__black-dark: #666666;
$color__theme: #dcc423;


// Typography
$text-btn:  'Open Sans';
$text-italic: "Baskerville";
$btn-big-family: 'Roboto';
